<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Errand Admin</title>
    <style>
        * {
            line-height: 150%;
        }

        th, td { padding: 10px; }
        /*.tableTitle{ font-size: larger; }*/
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: darkorange; text-decoration: underline;
        }
    </style>
</head>
<body>
<button id="backButton" type="button">< 심부름 상세정보로 돌아가기</button>
<h3>지원자 목록</h3><br>
<div id="helpList">
    <table class="table">
        <tr class="tableTitle" >
            <th style="margin-right: 20px">Help ID</th>
            <th>지원자 ID</th>
            <th>지원자 정보</th>
            <th>각오</th>
            <th>지원자 전화번호</th>
        </tr>
        <tr th:each="help: ${helpList}">
            <td th:text="${help.id}" style="padding: 10px"></td>
            <td th:text="${help.helper.id}"style="padding: 10px"></td>
            <td style="padding: 10px">
                <div th:text="${help.helper.nickname}" style="display: flex; justify-content: center"></div>
                <img th:src="${help.helper.profileImageUrl}" width="50px"/>
            </td>
            <td th:text="${help.appeal}" style="padding: 10px"></td>
            <td th:text="${help.phoneNumber}" style="padding: 10px"></td>
        </tr>
    </table>
</div>
</body>
<script>
    const backButton = document.getElementById("backButton")
    backButton.addEventListener('click' , () => {
        location.href = `${document.location.origin}/admin`
    })
</script>
</html>