<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>심부름 어드민</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<ol class="breadcrumb">
    <h2>심부름 어드민</h2>
    <li><a th:href="@{/admin/errands}">심부름 목록</a></li>
    <li><a th:href="@{/admin/users}">유저 목록</a></li>
</ol>
</body>
</html>