<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Errand Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table">
    <tr>
        <td>이름</td>
        <td th:text="${userInfo.nickname}"></td>
    </tr>
    <tr>
        <td>프로필 사진</td>
        <td th:text="${userInfo.profileImageUrl}"></td>
    </tr>
    <tr>
        <td>매너 온도</td>
        <td th:text="${userInfo.mannerTemperature}"></td>
    </tr>
</table>
</body>
</html>